@import url('./mixinx.scss');

/*@for $i from 1 to 5 {

    .customep-#{$colors} {
      color: $colors;
    }
}*/

  /* .customep-#{nth($colorsValue,$i)} {
    color: nth($colors, $i);
  }*/

/*@for $i from 1 to 10 {
  .bg-color#{$i} {
    background-color: nth($colors, $i)
  }
}*/